header {
  position: sticky;
  top: 0;
  padding: 0 16px 0 24px;
  height: 72px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(2px);
}

/* ハンバーガーメニューのボタン */
.menu_button {
  display: none;
  cursor: pointer;
  margin-right: 16px;
  user-select: none;
}
/* ロゴ */
.nav_home img {
  width: 144px;
}
/* ナビゲーションメニュー */
.links {
  margin-left: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.links a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 999px;
  transition: 0.1s;
  background: #fff;
  font-weight: bold;
}
.links a:hover {
  color: white;
  background: #2f2f2f;
}
a.nav_create {
  background: #00a361;
  color: #fff;
}
a.nav_create:hover {
  background: #305747;
}

.header_right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  padding: 4px 4px 4px 12px;
  cursor: pointer;
}
.user_wrapper:hover {
  outline: 1px solid #ccc;
}
.user_name {
  font-size: 14px;
}
.user_icon img {
  display: grid;
  place-content: center;
  width: 32px;
  height: 32px;
  border-radius: 999px;
}
.account_menu {
  position: absolute;
  right: 16px;
  top: 60px;
  background: gray;
  border-radius: 8px;
  padding: 8px;
}

/* スマホデザイン */
@media screen and (max-width: 750px) {
  .menu_button {
    display: grid;
    place-items: center;
  }
  .links {
    display: flex;
    flex-direction: column;
    background: rgb(228, 228, 228);
    position: absolute;
    left: 8px;
    top: 60px;
    margin: 0;
    padding: 8px;
    border-radius: 8px;
  }
  .links a {
    box-sizing: border-box;
    width: 100%;
  }
}
